/* all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    width: 100vw;
    height: 100vh;
    /* displays items in a row */
    display: flex;
    background-image: url(resources/locker-room.jpg);
    background-position: center;
    /* scales image to the smallest size in which it covers the entire space */
    background-size: cover;
}

.left{
    width: 50vw;
    height: 100vh;
    background-image: url(resources/legacy-left.png);
    background-position: center;
    background-size: cover;
    /* name | duration | ease-function | delay */
    animation: slideLeft 1s ease-in forwards 1s;
}

.right{
    width: 50vw;
    height: 100vh;
    background-image: url(resources/legacy-right.png);
    background-position: center;
    background-size: cover;
    animation: slideRight 1s ease-in forwards 1s;
}

@keyframes slideLeft {
    from {
        /* starting position */
        transform: translateX(0);
    }
    to {
        /* ending position */
        transform: translateX(-50vw);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(50vw);
    }
}

/* custom font */
@font-face {
    font-family: poppins;
    src: url(typefaces/Poppins-ExtraBold.ttf);
}

.nav{
    width: 80vw;
    display: flex;
    /* element is removed from the normal document flow */
    /* position is determined by values of top + left */
    position: absolute;
    top: -5%;
    left: 10%;
    /* distributed alignment */
    /* align w/ the start and end */
    justify-content: space-between;
    /* red | green | blue | alpha (opacity) */
    background-color: rgba(0, 0, 0, 0.8);
    /* round corners */
    border-radius: 1.5rem;
    animation: slideDown 1s ease-in forwards 2s;
}

.nav ul{
    padding-left: 1%;
    padding-right: 1%;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    /* remove bullets */
    list-style-type: none;
}

.nav ul li{
    font-family: poppins;
    font-size: 1.5rem;
}

.nav ul li a{
    /* colour of text */
    color: white;
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10vh);
    }
}