/* all elements */
*{
    margin: 0%;
    padding: 0%;
}

/* custom font */
@font-face {
    font-family: poppins;
    src: url(../typefaces/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: unicaone;
    src: url(../typefaces/UnicaOne-Regular.ttf);
}

.heading{
    /* displays items in a row */
    display: flex;
    /* distributed alignment */
    /* align w/ the start and end */
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

.subheading{
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-left: 2.5%;
    padding-bottom: 5%;
    /* kerning */
    letter-spacing: 3.125rem;
}

h1{
    font-family: poppins;
    font-size: 6.25rem;
}

h2{
    font-family: unicaone;
    font-size: 1.875rem;
}

.preface{
    text-align: center;
    padding-bottom: 3%
}

h3{
    font-family: poppins;
    font-size: 1.5rem;
}

p{
    font-family: unicaone;
    font-size: 1rem;
}

.content{
    text-align: center;
}

.content img{
    aspect-ratio: width/height;
    width: 30vw;
    height: auto;
    padding: 1%;
}

figure{
    display: flex;
    flex-direction: row;
}

figcaption{
    caption-side: bottom;
    display: block;
}

.nav{
    width: 80vw;
    display: flex;
    /* element is removed from the normal document flow */
    /* position is determined by value of top + left */
    position: absolute;
    top: -5%;
    left: 10%;
    justify-content: space-between;
    /* red | green | blue | alpha (opacity) */
    background-color: rgba(0, 0, 0, 0.8);
    /* round corners */
    border-radius: 24px;
    /* name | duration | ease-function | delay */
    animation: slideDown 1s ease-in forwards 0s;
}

.nav ul{
    padding-left: 1%;
    padding-right: 1%;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    /* remove bullets */
    list-style-type: none;
}

.nav ul li{
    font-family: poppins;
    font-size: 1.5rem;
}

.nav ul li a{
    /* colour of text */
    color: white;
}

@keyframes slideDown {
    from {
        /* starting position */
        transform: translateY(0);
    }
    to {
        /* ending position */
        transform: translateY(27vh);
    }
}

/* *{
    margin: 0%;
    padding: 0%;
}

img{
    width: 33vw;
    height: auto;
}

@font-face {
    font-family: poppins;
    src: url(../typefaces/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: unicaone;
    src: url(../typefaces/UnicaOne-Regular.ttf);
}

.title{
    height: fit-content;
    margin: 0%;
    padding: 0%;
    text-align: center;
    justify-content: center;
    background-color: black;
}

h1{
    font-family: poppins;
    font-size: 5vw;
    color: white;
    margin:0%;
    padding: 0%;
}

h2{
    font-family: unicaone;
    font-size: 2vw;
    color: white;
}

h3{
    font-family: poppins;
}

p{
    font-family: unicaone;
} */