/* all elements */
*{
    margin: 0%;
}

img{
    aspect-ratio: width/height;
    width: 24vw;
    height: auto;   
}

.teams{
    /* set snap points on the scroll container */
    /* y = vertical axis */
    /* mandatory = scroll container must snap to a snap position */
    scroll-snap-type: y mandatory;
    /* overflowing content is clipped to fit space */
    overflow-y: scroll;
    height: 100vh;
}

section{
    width: 100vw;
    height: 100vh;
    /* broswer selects a suitable margin */
    margin: auto;
    /* displays items in a row */
    display: flex;
    /* vertical alignment */
    align-items: center;
    /* horizontal alignment */
    justify-content: center;
    /* snap to the center of the section */
    scroll-snap-align: center;
}

/* custom font */
@font-face {
    font-family: poppins;
    src: url(../typefaces/Poppins-ExtraBold.ttf);
}

.nav{
    width: 90vw;
    display: flex;
    /* element is removed from the normal document flow */
    /* position is determined by values of top + left */
    position: absolute;
    top: -5%;
    left: 5%;
    /* distributed alignment */
    /* align w/ the start and end */
    justify-content: space-between;
    /* red | green | blue | alpha (opacity) */
    background-color: rgba(0, 0, 0, 0.8);
    /* round corners */
    border-radius: 1.5rem;
    /* name | duration | ease-function | delay */
    animation: slideDown 1s ease-in forwards 0s;
}

.nav ul{
    padding-left: 1%;
    padding-right: 1%;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    /* remove bullets */
    list-style-type: none;
}

.nav ul li{
    font-family: poppins;
    font-size: 1.5rem;
}

.nav ul li a{
    /* colour of text */
    color: white;
}

@keyframes slideDown {
    from {
        /* starting position */
        transform: translateY(0);
    }
    to {
        /* ending position */
        transform: translateY(10vh);
    }
}

.credit{
    /* fit-content: uses the available space without exceeding max-content */
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 1%;
    right: 1%;
    text-align: right;
    font-family: unicaone;
}

@font-face {
    font-family: unicaone;
    src: url(../typefaces/UnicaOne-Regular.ttf);
}

/* .atlantahawks{
    background-image: url(../images/atlantahawks-cover.jpeg);
    background-position: top;
    background-size: cover;
    background-blend-mode: overlay;
}

.brooklynnets{
    background-image: url(../images/brooklynnets-cover.jpg);
    background-position: top;
    background-size: cover;
    background-blend-mode: overlay;
} */

/* .atlantahawks{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bostonceltics{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brooklynnets{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.charlottehornets{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chicagobulls{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clevelandcavaliers{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dallasmavericks{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.denvernuggets{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detroitpistons{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goldenstatewarriors{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.houstonrockets{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indianapacers{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.laclippers{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.losangeleslakers{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memphisgrizzlies{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miamiheat{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.milwaukeebucks{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minnesotatimberwolves{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.neworleanspelicans{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newyorkknicks{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.okcthunder{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orlandomagic{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.philadelphia76ers{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phoenixsuns{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portlandtrailblazers{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sacramentokings{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sanantoniospurs{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.torontoraptors{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.utahjazz{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.washingtonwizards{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
} */